<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/95715e8b3f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="unauthorized_error_mesage">
        <h1>401</h1>
        <h2>Lai piekļūtu šai lapai ir nepieciešams autorizēties!</h2>
    </div>
</body>
</html>