{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="building_outer">
  <div class="building_filter">
        <h2>buildings</h2>
        <div class="building_search">
            <form id="search_form" onsubmit="searchbuildings(); return false;">
              <input type="text" id="searchInput" placeholder="Type name....." value="{{ request.GET.q }}">
            </form>
            <div id="suggestions">
            </div>
        </div>
        <button id="toggleButton" onclick="toggleAmount()">Show 60/120</button>
        <h4> Found {{ num_rows }} buildings</h4>
    </div>

  <table id="building_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      {% for emp in buildings %}
        <tr onclick="window.location.href='sensor_data_list/{{ emp.id }}'">
          <td>{{ emp.name }}</td>
          <td>{{ emp.user }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">No buildings found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<script>
    function searchbuildings() {
        let input, filter;
        input = document.getElementById("searchInput");
        filter = input.value;
        const newUrl = window.location.pathname + '?limit=60' + '&q=' + encodeURIComponent(filter);
        window.location.href = newUrl;
    }
    function toggleAmount() {
        var currentURL = window.location.href;
        if (currentURL.includes('?limit=60')) {
            window.location.href = currentURL.replace('?limit=60', '?limit=120');
        } else if (currentURL.includes('?limit=120')) {
            window.location.href = currentURL.replace('?limit=120', '?limit=60');
        } else {
          const newUrl = window.location.pathname + '?limit=120'
          window.location.href = newUrl;
        }
    }
    const searchInput = document.getElementById('searchInput');
    const suggestionsContainer = document.getElementById('suggestions');

    searchInput.addEventListener('input', function() {
        const searchText = this.value.trim();
        if (searchText === '') {
            suggestionsContainer.innerHTML = '';
            suggestionsContainer.style.display = "none"
            return;
        }
    fetch(`/buildings/suggestions/?search_text=${searchText}`)
        .then(response => response.json())
        .then(data => {
            console.log(data)
            suggestionsContainer.style.display = "flex"
            suggestionsContainer.innerHTML = '';
            if (data.length == 0) {
              const suggestionElement = document.createElement('p');
              suggestionElement.textContent = "No building mach your query";
              suggestionsContainer.appendChild(suggestionElement);
            } 
            data.forEach(suggestion => {
                const suggestionElement = document.createElement('p');
                suggestionElement.textContent = suggestion;
                suggestionElement.addEventListener('click', function() {
                    searchInput.value = suggestion;
                    suggestionsContainer.innerHTML = '';
                    suggestionsContainer.style.display = "none"
                    searchbuildings()
                });
                suggestionsContainer.appendChild(suggestionElement);
            });
        })
        .catch(error => {
            console.error('Error fetching suggestions:', error);
        });
});


</script>
{% endblock %}
